<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Decodificar</title>
</head>
<body>
    <header>
        <h1>Decofica la receta</h1>
        <p>Descubre el mensaje</p>
    </header>
    <main>
        <form action="/decodificar" method="POST" enctype="multipart/form-data">
            <label for="receta">Pega el texto de la receta:</label><br>
            <textarea id="receta" name="receta" rows="4" cols="50"></textarea><br><br>
            <label for="archivo">O sube el archivo de la receta:</label><br>
            <input type="file" id="archivo" name="archivo" accept=".txt"><br><br>
            <label for="clave">Clave (número):</label><br>
            <input type="text" id="clave" name="clave" required autocomplete="off"><br><br>
            <button type="submit">Decodificar</button>
            <button type="button" onclick="location.href='{{ url_for('index') }}'">Cancelar</button>
        </form>
    </main>
    
</body>
</html>